MustacheWax = (function() {

  var templates = {{templates}};

  var fun = function(templateName, params) {
    if (typeof params == "undefined") {
      return templates[templateName];
    } else {
      return templates[templateName](params);
    }
  };

  fun.templates = templates;

  return fun;
})();
